// colors
$white: #fff;
$blue: #23f6f0;
$red: #fd335d;
$error: red;
$dark: #1f1f1f;
$dark-light: #2d2d2d;
$gray: #5a5a5a;
$deep-gray: #333742;

$dark-blue: #1f2128;

// font sizes
$text-xl: 64;
$text-lg: 36;
$text-md: 24;
$text-sm: 18;
$text-xs: 13;
